<div class="text-field">
  <%= form.label :title %>
  <%= form.text_field :title %>
</div>

<div class="text-field">
  <%= form.label :description %>
  <%= form.text_field :description %>
</div>

<div class="text-field">
  <%= form.label :country %>
  <%= form.text_field :country %>
</div>

<div class="text-field">
  <%= form.label :city %>
  <%= form.text_field :city %>
</div>

<div class="text-field">
  <%= form.label :zip_code %>
  <%= form.text_field :zip_code %>
</div>

<div class="text-field">
  <%= form.label :street_address %>
  <%= form.text_field :street_address %>
</div>

<div class="text-field">
  <%= form.label :price_per_night %>
  <%= form.text_field :price_per_night %>
</div>

<div class="text-field">
  <%= form.label :fees %>
  <%= form.text_field :fees %>
</div>
