<div>
  <strong>Description:</strong>
  <%= @listing.description %>
</div>
<div>
  <strong>Country:</strong>
  <%= @listing.country %>
</div>
<div>
  <strong>City:</strong>
  <%= @listing.city %>
</div>
<div>
  <strong>Street_address:</strong>
  <%= @listing.street_address %>
</div>
<div>
  <strong>Price per night:</strong>
  <%= @listing.price_per_night %>
</div>
<div>
  <strong>Fees:</strong>
  <%= @listing.fees %>
</div>
