<div id="clearance" class="sign-up">
  <h2><%= t(".title") %></h2>
  <!-- remote: true will send the request
  as a js request; not as a post html request anymore -->
  <%= form_for @user, url: "/users", remote: true do |form| %>
    <%= render partial: '/users/form', object: form %>

    <div class="submit-field">
      <%= form.submit %>
    </div>

    <div class="other-links">
      <%= link_to t(".sign_in"), sign_in_path %>
    </div>
  <% end %>
</div>
