<% @user = current_user %>
<h1>Hello <%=@user.first_name %></h1>
<h2>Here are your reservations:</h2>
<% @user.reservations.each do |reservation| %>
  <p><%= reservation.listing.title %></p>
  <p> From: <%= reservation.from %></p>
  <p>To: <%= reservation.to %></p>
  <%= link_to "Make payment", braintree_new_path(:braintree => {:reservation_id => reservation.id}) %>
  <p>------------------------------------</p>
<% end %>
